@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <h5 class="card-header">Venta</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-4">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Número Documento</label>
                    <input type="text" class="form-control form-control-sm" id="txtNumeroDocumento">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Razón Social</label>
                    <input type="text" class="form-control form-control-sm" id="txtRazonSocial">
                </div>
            </div>
        </div>
        <hr />

        <div class="row align-items-end">
            <div class="col-sm-3">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Producto</label>
                    <input type="text" class="form-control form-control-sm" id="txtProducto">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Precio</label>
                    <input type="text" class="form-control form-control-sm" id="txtPrecio">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Cantidad</label>
                    <input type="text" class="form-control form-control-sm" id="txtCantidad">
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success mb-2 btn-sm" id="btnAgregar">Agregar</button>
                <button class="btn btn-primary mb-2 btn-sm" id="btnTerminar">Terminar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-sm table-striped" id="tbProducto">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //agregar filas a la tabla de detalle de venta con la informacion de los inputs
        $("#btnAgregar").on("click", function () {
            var total = parseFloat($("#txtPrecio").val()) * parseFloat($("#txtCantidad").val())

            $("#tbProducto tbody").append(
                $("<tr>").append(
                    $("<td>").text($("#txtProducto").val()),
                    $("<td>").text($("#txtPrecio").val()),
                    $("<td>").text($("#txtCantidad").val()),
                    $("<td>").text(total)
                )
            )
        })

        //Configurar boton de finalizar ventas 
        //crear objeto con la informacion de los inputs para ser enviada al controlador
        $("#btnTerminar").on("click", function () {
            var detalle_venta = [];
            var total = 0;

            //acceder a las fiilas de la tabla producto
            $("#tbProducto > tbody > tr").each(function(index,tr){
                console.log(tr);
                console.log($(tr).find("td:eq(0)").text());
                //este objeto que se crea es una representacion del modelo venta
                detalle_venta.push(
                    {
                        Producto: $(tr).find("td:eq(0)").text(),
                        Precio: parseFloat($(tr).find("td:eq(1)").text()),
                        Cantidad: parseInt($(tr).find("td:eq(2)").text()),
                        total: parseFloat($(tr).find("td:eq(3)").text())
                    }
                )
                total = total + parseFloat($(tr).find("td:eq(3)").text());
            })
            
            console.log(detalle_venta);

            //crear detalle de la venta representando al modelo dettalle venta

            var venta = {
                NumeroDocumento: $("#txtNumeroDocumento").val(),
                RazonSocial: $("#txtRazonSocial").val(),
                total: total,
                ListVentaDetalle: detalle_venta
            }

            console.log(venta);

            //enviar el json construido al backend 
            //se enviara al metodo GuardarVeta del controlador Home
            jQuery.ajax({
                url: "@Url.Action("GuardarVenta","Home")",
                type: "POST",
                data: JSON.stringify(venta),
                dataType: "json",
                contentType : "application/json; charset=utf8",
                success: function(data){
                    console.log(data)

                    if (data.respuesta == true) {
                        alert("Venta Registrada");
                    }
                }
            })
        })

    </script>
}
